.title {
  font-size: 1.2em;
  text-align: center;
  color:white;
  background: black;
  margin: 0;
  position: relative;
  bottom: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  width: 90%;
  margin: 0px auto;
  background: rgb(43, 42, 42);
  font-weight: bold;
  padding: 8px;
  color: white;
  opacity: 0.8;
  text-align: center;
  border-radius: 8px;
  border: 2px solid white;
}

.last_product {
  height: 160px;
  width: 250px;
  margin: auto;
}