.container {
    width: 100%;
}
 
.banner {
    position: relative;
    width: 100%;
    transition: .4s ease-in-out;
    overflow: hidden;
    aspect-ratio: 4/3;
    max-height: 100vh;
    max-width: 1400px;
    margin: auto;
}

.bannervideo {
    position: relative;
    width: 100%;
    transition: .4s ease-in-out;
    overflow: hidden;
    aspect-ratio: 4/3;
    max-height: 100vh;
    max-width: 1000px;
    margin: auto;
}

.backgroundvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cela permet à la vidéo de couvrir tout l'espace sans déformer son ratio */
    z-index: -1; /* La vidéo sera en arrière-plan */
  }

.description {
    position: absolute;
    top: 50px;
    z-index: 2;
    color: #ffffff;
    font-size: 5.2vw;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 22px;
    line-height: 1.5em;
    width: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30px;
    z-index: 2;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    letter-spacing: 0.1em;;
    font-family: "Roboto", sans-serif;
}

.background {
    filter: brightness(60%) grayscale(0%);
}

.btn {
    position: absolute;
    bottom: 50px;
    z-index: 2;
    padding: 20px;
    width: 80%;
    left: 10%;
    border: 2px solid rgb(65, 191, 232);
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    border-radius: 40px;
    color: rgb(65, 191, 232);
    transition: .4s ease-in-out
}

.btn:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(65, 191, 232);
}