.form {
    text-align: center;
    padding-bottom: 60px;
    background-color: rgb(255, 255, 255);
}

.h4 {
    padding: 18px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-family: "Bebas Neue", sans-serif;
}

.formContent {
    padding: 22px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input, .textarea {
    border-radius: 22px;
    height: 50px;
    border: 1px solid #dddddd;
    width: 90%;
    margin: 0 auto 15px auto;
    padding-left: 20px;
}

.input::placeholder, .textarea::placeholder {
    letter-spacing: 0.1em;
    font-family: "Bebas Neue", sans-serif;
}

.textarea {
    padding-top: 20px;
    height: 200px;
}

.error {
    font-size: 0.6em;
    color: red;
    position: relative;
    bottom: 6px;
    padding-left: 30px;
}

.submit {
    height: 50px;
    width: 220px;
    margin: 0 auto;
    display: flex;
    border-radius: 22px;
    border: none;
    color: white;
    background-color: orangered;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 70px;
    letter-spacing: 0.1em;
    font-size: 1.2em;
    font-family: "Bebas Neue", sans-serif;
}

.confirm {
    padding: 30px 16px 
}

.pConfirm {
    text-align: center;
    color: white;
    padding: 16px;
    border-radius: 8px;
    font-size: 1.2rem;
    line-height: 2.2;
    background: rgb(204, 57, 3);
    border: 2px solid white;
    font-family: "Bebas Neue", sans-serif;
}