.p {
    padding: 30px 18px;
    line-height: 1.5em;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

.white {
    color: white;
    background-color: black;
}

.btnWhite, .btnBlack {
    display: flex;
    justify-content: center;
    padding: 12px;
    width: 50%;
    text-align: center;
    border-radius: 20px;
    font-weight: bolder;
    
    color: white;
    letter-spacing: 0.2em;
    
    margin: 50px auto 80px auto;
    font-family: "Roboto", sans-serif; 
}

.btnWhite {
    color: white;
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
}

.btnBlack {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}