.p {
    padding: 12px 12px 34px 12px;
    line-height: 1.5em;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    border-bottom: 1px solid black;
}