.footer {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 2rem 0;
  color: #fafafa; 
  font-weight: bold;
  background-color: rgb(22, 22, 77);
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: absolute;
  }
  
.v_span {
  color: #3291ff;
}