.white, .black {
    width: 100%;
    font-family: "Roboto", sans-serif; 
    text-align: center;
    font-style: italic;
    height: 70px;
    display: flex;
    font-size: 1.7em;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(45deg,#2c3340, orangered, #2c3340);
    color: white;
}
